@import "tailwindcss";

:root {
  --color-page: #f4f1ec;
  --color-text: #1b1b1b;
  --color-accent: #3478f6;
  --color-accent-hover: #1e60e2;
  --color-border: #ddd8d0;
  --color-muted: #807c75;
  --color-highlight: #fdf7e3;

  --width-main: 640px; /* tailwind 기준 sm (참고: https://tailwindcss.com/docs/responsive-design)*/
  --height-footer: 128px;
}

.dark {
  --color-page: #1d1d1a;
  --color-text: #eaeaea;
  --color-accent: #539bff;
  --color-accent-hover: #3478f6;
  --color-border: #2a2a27;
  --color-muted: #a5a5a5;
  --color-highlight: #2f2f2c;
}

@theme inline {
  --color-page: var(--color-page);
  --color-text: var(--color-text);
  --color-mute: var(--color-muted);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-highlight: var(--color-highlight);

  --font-sans: var(--font-pretendard);
  --font-serif: var(--font-noto-serif-kr);
}

/* global */

@layer base {
  body {
    @apply m-0 min-h-screen p-0;
    @apply text-text antialiased;
    @apply bg-page;
  }
}

hr {
  @apply my-8;
  @apply border-mute/50;
}

button {
  @apply cursor-pointer;
}

/* layout */

.container {
  @apply w-full;
  @apply px-4 mx-auto;
  @apply font-sans;
}

.container > main {
  @apply py-16;
  @apply max-w-[var(--width-main)] mx-auto;
  @apply min-h-[calc(100vh-var(--height-footer))];
}
