:root {
  --background: #f4f1ec;
  --text: #1b1b1b;
  --primary: #3478f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1a;
    --text: #eaeaea;
    --primary: #539bff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
