/*
  tailwind 기준 sm(640px) md(768px)까지 적용
  참고: https://tailwindcss.com/docs/responsive-design
*/
.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
